
.banner {
	
	width: 100%;
	height: 100%;
	/*background-color: red;*/

}

.second {
	width:50%;
	height: 100%;
	/*background-color: yellow;*/
	display: inline-block;
	clear:none;
	float:left;
}

.first{
	width: 50%;
	height: 100%;
	/*background-color: purple;*/
	display: inline-block;
	clear:none;
	float:left;
}

#photo {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	float: right;
	/*display: block;
	margin: auto;
	height: 350px;
	width: 300px;
	vertical-align: middle;*/
}

#linkedin{

}

html{
	width: 100%;
	height: 100%;
}


body {
	width: 100%;
	height: 100%;
	/*background-color: blue;*/
	margin: 0px;
}

h1 {
	color: black;
	font-family: 'Trebuchet MS';
	/*background-color: pink;*/
}


.caja{
  	/*background-color: green;*/

}

.subcaja{
	/*background-color: orange;*/
}

@media(min-width: 601px){
	.caja{
		position: relative;
  		top: 45%;
  		transform: translateY(-50%);
  		margin-left: 10%;
	}
	.subcaja{
		display: inline-block;
		text-align: center;
	}
	#linkedin{
		
	}
}

@media(max-width:600px) {
	.first{
		width: 100%;
		height: 50%;
		margin-top: 10%;
		text-align: center;
	}
	.second{
		width: 100%;
		height: 50%;
	}
	#photo{
		display: inline-block;
		float: none;
		height: 100%;
	}
	h1{
		text-align: center;
		display: block;
	}
	.caja{
		width: 100%;
		text-align: center;
		margin-top: 10%;

	}
	#linkedin{
		float: none;
	}
	.subcaja{
		display: inline-block;
	}

}
    

